<!-- <h1>Purchase Form</h1>
<form [formGroup]="purchaseForm" (ngSubmit)="submitForm()">
    <mat-grid-list cols="2" rowHeight="6:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>product</mat-label>
                    <input matInput formControlName="product" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>costPrice</mat-label>
                    <input matInput formControlName="costPrice" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>vat</mat-label>
                    <input matInput formControlName="vat" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>discount</mat-label>
                    <textarea matInput formControlName="discount"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>quantity</mat-label>
                    <input matInput formControlName="quantity" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>weight</mat-label>
                    <input matInput formControlName="weight" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>total</mat-label>
                    <input matInput formControlName="total" />
                </mat-form-field>
            </div>
        </mat-grid-tile>


        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>supplier</mat-label>
                    <input matInput formControlName="supplier" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="input-container">
              <mat-form-field>
                  <mat-label>purchaseDate</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="purchaseDate">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="input-container">
          <mat-form-field>
            <mat-label>attachments</mat-label>
            <ngx-mat-file-input formControlName="attachments"> </ngx-mat-file-input>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Purchase Form</h1>
        </div>
        <div class="card-body p-5">
            <form [formGroup]="purchaseForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="product">Product Name</label>
                            <input type="text" class="form-control" id="product" formControlName="product">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="costPrice">Cost Price</label>
                            <input type="number" class="form-control" id="costPrice" formControlName="costPrice">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="vat">VAT</label>
                            <input type="number" class="form-control" id="vat" formControlName="vat">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control" id="discount" formControlName="discount">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" formControlName="quantity">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="text" class="form-control" id="weight" formControlName="weight">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input type="number" class="form-control" id="total" formControlName="total">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="supplier">Supplier</label>
                            <input type="text" class="form-control" id="supplier" formControlName="supplier">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="purchaseDate">Purchase Date</label>
                            <input type="date" class="form-control" id="purchaseDate" formControlName="purchaseDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="attachments">Attachments</label>
                            <input type="file" class="form-control-file" id="attachments" formControlName="attachments">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit"> Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>