
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Product Form</h1>
        </div>
        <div class="card-body p-5">
            <form [formGroup]="productForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="col">
                        <label for="sku" class="form-label">Sku</label>
                        <input type="text" class="form-control" id="sku" formControlName="sku">
                    </div>
                    <div class="col">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="category" formControlName="category">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="brand" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="brand" formControlName="brand">
                    </div>
                    <div class="col">
                        <label for="unitPrice" class="form-label">Unit Price</label>
                        <input type="number" class="form-control" id="unitPrice" formControlName="unitPrice">
                    </div>
                    <div class="col">
                        <label for="costPrice" class="form-label">Cost Price</label>
                        <input type="number" class="form-control" id="costPrice" formControlName="costPrice">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="quantityInStock" class="form-label">Quantity In Stock</label>
                        <input type="number" class="form-control" id="quantityInStock"
                            formControlName="quantityInStock">
                    </div>
                    <div class="col">
                        <label for="reorderPoint" class="form-label">Reorder Point</label>
                        <input type="text" class="form-control" id="reorderPoint" formControlName="reorderPoint">
                    </div>
                    <div class="col">
                        <label for="supplierID" class="form-label">Supplier ID</label>
                        <input type="number" class="form-control" id="supplierID" formControlName="supplierID">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="purchaseDate" class="form-label">Purchase Date</label>
                        <input type="date" class="form-control" id="purchaseDate" formControlName="purchaseDate">
                    </div>
                    <div class="col">
                        <label for="expirationDate" class="form-label">Expiration Date</label>
                        <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate">
                    </div>
                    <div class="col">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" formControlName="location">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="barcode" class="form-label">Barcode</label>
                        <input type="text" class="form-control" id="barcode" formControlName="barcode">
                    </div>
                    <div class="col">
                        <label for="serialNumber" class="form-label">Serial Number</label>
                        <input type="number" class="form-control" id="serialNumber" formControlName="serialNumber">
                    </div>
                    <div class="col">
                        <label for="condition" class="form-label">Condition</label>
                        <input type="text" class="form-control" id="condition" formControlName="condition">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="weight" class="form-label">Weight</label>
                        <input type="number" class="form-control" id="weight" formControlName="weight">
                    </div>
                    <div class="col">
                        <label for="dimensions" class="form-label">Dimensions</label>
                        <input type="number" class="form-control" id="dimensions" formControlName="dimensions">
                    </div>
                    <div class="col">
                        <label for="taxRate" class="form-label">TaxRate</label>
                        <input type="number" class="form-control" id="taxRate" formControlName="taxRate">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="minimumOrderQuantity" class="form-label">Minimum Order Quantity</label>
                        <input type="number" class="form-control" id="minimumOrderQuantity"
                            formControlName="minimumOrderQuantity">
                    </div>
                    <div class="col">
                        <label for="discounts" class="form-label">Discounts</label>
                        <input type="number" class="form-control" id="discounts" formControlName="discounts">
                    </div>
                    <div class="col">
                        <label for="images" class="form-label">Images</label>
                        <input type="file" class="form-control" id="images" formControlName="images">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label for="attachments" class="form-label">Attachments</label>
                        <input type="file" class="form-control" id="attachments" formControlName="attachments">
                    </div>
                </div>

                <button class="btn btn-primary mt-4" type="submit">Submit</button>
            </form>
        </div>
    </div>
    