<!-- <mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/td.PNG" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Traders Solution</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <button mat-button [matMenuTriggerFor]="form">Forms</button>
<mat-menu #form="matMenu">
  <button mat-menu-item routerLink="/role-form">Role form</button>
  <button mat-menu-item routerLink="/customer-form">Customer form</button>
  <button mat-menu-item routerLink="/employee-form">Employee form</button>
  <button mat-menu-item routerLink="/product-form">Product form</button>
  <button mat-menu-item routerLink="/departments-form">Departments form</button>
  <button mat-menu-item routerLink="/supplier-form">Supplier form</button>
  <button mat-menu-item routerLink="/order-form">Order form</button>
  <button mat-menu-item routerLink="/purchase-form">Purchase form</button>
  <button mat-menu-item routerLink="/team-form">Team form</button>
  <button mat-menu-item routerLink="/audittrail-form">Audittrail form</button>
</mat-menu>
<br>
<button mat-button [matMenuTriggerFor]="list">List</button>
<mat-menu #list="matMenu">
  <button mat-menu-item routerLink="/role-list">Role List</button>
  <button mat-menu-item routerLink="/customer-list">Customer List</button>
  <button mat-menu-item routerLink="/employee-list">Employee List</button>
  <button mat-menu-item routerLink="/product-list">Product List</button>
  <button mat-menu-item routerLink="/departments-list">Departments List</button>
  <button mat-menu-item routerLink="/supplier-list">Supplier List</button>
  <button mat-menu-item routerLink="/order-list">Order List</button>
  <button mat-menu-item routerLink="/purchase-list">Purchase List</button>
  <button mat-menu-item routerLink="/team-list">Team List</button>
  <button mat-menu-item routerLink="/audittrail-list">Audittrail List</button>
</mat-menu>
</mat-nav-list>
 -->
