table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  background-color: #f2f2f2;
}

thead {
  background-color: #009879;
  color: #ffffff;
}

thead th {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody td {
  padding: 12px 15px;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

