// .container {
//   max-width: 800px;
//   margin: 0 auto;
// }

// h1 {
//   font-size: 24px;
//   margin-bottom: 20px;
// }

// .form-label {
//   font-weight: 600;
// }

// .form-control {
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 10px;
//   width: 100%;
//   margin-bottom: 10px;
//   transition: border-color 0.2s;

//   &:focus {
//     border-color: #007bff; // Change the border color on focus
//   }
// }

// .textarea {
//   min-height: 100px;
//   resize: vertical; // Allow vertical resizing of textarea
// }

// .btn-primary {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   cursor: pointer;

//   &:hover {
//     background-color: #0056b3; // Change the background color on hover
//   }
// }

// .row {
//   display: flex;

//   .col-4 {
//     flex: 1;
//     padding: 10px;
//   }
// }

// Add additional styling for specific elements if needed


// Previously activated code::::::::
// .input-container {
//     margin-bottom: 1rem;

// }



.container {
  max-width: 1000px;
}

.card-header {
  background-color: #963091;
  color:black;
}

.card-body {
  background-color: rgb(209, 238, 222);
}

.col-md-4 {
  color: #b301aa;
}

// .form-group label {
//   font-weight: bold;
// }

// .form-group input, .form-group textarea {
//   border-radius: 0;
// }

.form-control {
  border: 1px solid #963091;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  transition: border-color 0.2s;
}

.btn-primary {
  background-color: #963091;
  border-color: #00d941;
  &:hover {
      background-color: #00d941;
      border-color: #b301aa;
  }
}
