<!-- <h1>Role Form</h1>
<form [formGroup]="roleForm" (ngSubmit)="submitForm()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Permissions" formControlName="permissions">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>

</form> -->

<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center">
  <h1>Role Form</h1>
</div>
<div class="card-body p-5">
  <form [formGroup]="roleForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
    </div>

    <div class="mb-3">
      <label for="permissions" class="form-label">Permissions</label>
      <ngx-bootstrap-multiselect [options]="permissionOptions" [settings]="permissionSettings" formControlName="permissions"></ngx-bootstrap-multiselect>

    </div>

    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
  </form>
</div>
</div>
</div>
